@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#TabsToolbar,
#save-to-pocket-button,
#identity-icon-box,
#tracking-protection-icon-container,
.urlbar-input-box,
#page-action-buttons,
#fxa-toolbar-menu-button,
#PanelUI-button,
#unified-extensions-button {
    visibility: collapse;
}

#urlbar-container {
    max-width:100px;
}

#urlbar-background {
    inset: revert !important;
}

#notifications-toolbar {
    visibility:collapse !important;
}

/*#back-button {
    padding-inline-start: 0px;
    padding-left: 2px;
    margin-left: -72px;
    transform: translateX(50vw);
}*/

#back-button,#forward-button,#stop-reload-button,#home-button
{
    transform: translateX(-75px) translateX(50vw) !important;
}