@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#TabsToolbar,
#urlbar-container,
#save-to-pocket-button,
#fxa-toolbar-menu-button,
#PanelUI-button,
#unified-extensions-button {
    visibility: collapse;
}

/*#back-button {
    padding-inline-start: 0px;
    padding-left: 2px;
    margin-left: -72px;
    transform: translateX(50vw);
}*/

#back-button,#forward-button,#stop-reload-button,#home-button
{
    transform: translateX(-75px) translateX(50vw) !important;
}