body {
  margin: 0;
  font-family: Arial, sans-serif;
}

body::backdrop{
  background-color:white;
}

@media (max-width: 992px) {
  .collapse-if-minified {
    display:none;
  }
}

.sidebar-container {
  width: auto;
  position: relative;
  right: 0;
}

.h4 {
  font-size: 0.8vw;
}

.sidebar {
  /* This allows the bot-info DIVs to be aligned horizontally */
  display: block;
  /* flex-wrap: nowrap; */
  /* flex-direction: row; */

  /* In theory, the automatic width would adapt based on the size of the game canvas */
  /* And auto height should help with > 1 player -> hopefully evenly distributed height */
  width: auto;
  height: 20%;

  background-color: #f1f1f1;
  padding: 0.1vw;
  overflow-x: auto;
  overflow-y:hidden;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.bot-info {
  margin: 2px;
  padding: 2px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.bot-info h4 {
  margin: 0;
  padding: 0;
  font-size: 0.55vw;
}

.bot-info p {
  margin: 5px 0;
  font-size: 0.55vw;
}

#navbar-peek-triggerbox:hover + .navbar {
  display: block !important;
}

#navbar-peek-triggerbox {
  width: 100vw;
  height: 20px; /* Adjust the height as needed */
  position:fixed;
  top:0;
  left:0;
}

.navbar {
  padding-left: 1%;
}

body:fullscreen .competition-disabled:not(:hover):not(:focus-within) {
  display: none;
}

a[role="button"] {
  cursor: pointer;
  text-decoration: none;
  color:#000000;
}

svg {
  width: 32px;
  padding-left: 2px;
  padding-right: 2px;
}

body.dark-mode a[role="button"] svg{
  color: white;
}


a[role="button"] svg:hover {
  color: #999999 !important;
}

a[role="button"] svg:active {
  color: #777777 !important;
}
.navbar-brand-logo {
  margin-right: 10px;
  height: 30px;
}

#page-cover {
  position:fixed;
  width:100vw;
  height:100vh;
  left:0;
  top:0;
  background-color:white;
  z-index: 1001;
}

#page-cover-content {
  text-align:center;
  user-select: none;
}

#accessibility-labels {
  display: none;
}
