body {
  background-color: rgb(86, 86, 86);
}

.usedark{
  filter:invert(100%);
}

#bot-info-megacontainer {
  background-color: darkgray;
}

.sidebar {
  border-top: 6px solid darkgreen;
}

.bot-info {
  background-color: darkkhaki !important;
}

.nodark {
  filter:invert(100%) !important;
}

.setting-text-description {
  color: rgb(170, 170, 170) ! important;
}

.checkbox-checked {
/* cancel out inversion on checkboxes */
  filter:invert(100%);
}