.dropdown-menu {
  position: absolute !important;
}

body.dark-mode div#dropdown-menu{
  background-color: rgb(105,105,105) !important;
}

body.dark-mode a.dropdown-item {
  color: white !important;
}

body.dark-mode a.dropdown-item:hover,body.dark-mode a.dropdown-item:focus {
  background-color: rgb(80,80,80) !important;
}

.navbar-collapse {
  flex-basis: auto;
}

.navbar-brand-logo {
  margin-right: 10px;
}

#page-cover {
  position:fixed;
  width:100vw;
  height:100vh;
  left:0;
  top:0;
  background-color:white;
  z-index: 1001;
}

#page-cover-content {
  text-align:center;
  user-select: none;
}

#help-on {
  margin-left: 5px;
}

#settings-button {
  margin: 5px 5px;
}

.production-hidden:not(:hover):not(:focus) {
  visibility: collapse;
  display: none;
}

#navbar-peek-triggerbox {
  width: 100vw;
  height: 20px; /* Adjust the height as needed */
  z-index: 999; /* Ensure it's above other elements, but under the navbar */
  position:fixed;
  top:0;
  left:0;
}

#game-info-container {
  display: grid;
  grid-template-columns: auto auto;
}

.loadingbox {
  display: flex;
  width: 100vw;
  height: 24px;
  align-items: center;
  justify-content: center;
}

body.dark-mode #loadingbox {
  color: white;
}

.loading-completed,
.no-internet {
  width: 0;
  height: 0;
  visibility: collapse;
}

#gameStatus {
  margin-right: 10px;
}

.sidebar {
  /* This allows the bot-info DIVs to be aligned horizontally */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  /* In theory, the automatic width would adapt based on the size of the game canvas */
  /* And auto height should help with > 1 player -> hopefully evenly distributed height */
  width: auto;
  height: auto;

  background-color: #f1f1f1;
  padding: 7px;
  overflow-x: auto;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

body.dark-mode .sidebar {
  background-color:rgb(30,30,30);
  border-bottom: 2px solid rgb(100,100,100);
}

.sidebar-header {
  font-size: 0.8vw;
  margin: 0vw;
  padding: 0.05vw;
}

.bot-infobox {
  display: flex;
  gap: 0vw;
  padding: 0vw;
  margin: 0.1vw;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.bot-info {
  margin: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  min-width: 14%;
  height: 24%;
}

body.dark-mode .bot-info {
  background-color: gray !important;
}

.bot-info h4 {
  font-size: 14px;
  margin: 2px 0;
  padding: 0;
}


body.dark-mode .bot-info h4 {
  color:white;
}

.bot-info hr {
  margin: 2px 0;
}

.bot-info p {
  font-size: 12px;
  margin: 2px 0;
  padding: 0;
}

body.dark-mode .bot-info p {
  color:white;
}

.navbar {
  padding-left: 1%;
  z-index: 1000;
}

body.dark-mode .navbar {
  background-color: rgb(75,75,75) !important;
  border-bottom: #cccccc solid 1px;
}

.cargo-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.05vw;
  padding: 0.1vw;
}

.cargo-container p,
.cargo-container img {
  color: white;
}

.mineral-image {
  width: 1vw;
  height: 1vw
}